extends layout

block layout-content
  div.View
    h1.Banner #{maintitle}
    div.article 
        p.summary #{summary} 
        p
            by #{author}

        img(src = heroimage ).imgcontainer
        div.longarticle !{description}
